    body{
        background-color: rgb(15 15 15);
    }

    p{
        color: white;
        font-size: 40px;
        font-family: Verdana;
        text-align: center;
    }

    .note{
        position: fixed;
        bottom: 13%;
        width: 100%;
        color: whitesmoke;
        text-align: center;
        size: 8px;
        font-family: Verdana;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #FF2400;
        color: white;
        text-align: center;
        font-family: Verdana;
        /* letter-spacing: 10px; */
    }